workflow-template.json
{
  "name": "Gmail triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -144
      ],
      "id": "21b736bc-8517-4bac-aae3-f7ff293bb328",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "[CONFIGURE_YOUR_CREDENTIAL]",
          "name": "Your credential name"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "703cc05b-7c40-416d-ab27-a74f7222799b",
              "leftValue": "={{ $('AI Agent').item.json.output }}\n",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -144
      ],
      "id": "b838de81-c298-4ac1-bc32-c7b03c45a98d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ $('AI Agent1').item.json.category }}\n"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        -160
      ],
      "id": "4cfa3a4c-3200-4c78-995e-49fb9322e992",
      "name": "Add label to message",
      "credentials": {
        "gmailOAuth2": {
          "id": "[CONFIGURE_YOUR_CREDENTIAL]",
          "name": "Your credential name"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Original Email:\nFrom: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nBody: {{ $('Gmail Trigger').item.json.snippet }}\n\nClassification:\nCategory: {{ JSON.parse($('AI Agent1').item.json.output).category }}\nPriority: {{ JSON.parse($('AI Agent1').item.json.output).priority }}\nSummary: {{ JSON.parse($('AI Agent1').item.json.output).summary }}\n\nDraft an appropriate reply for this email.\n",
        "options": {
          "systemMessage": "You are a professional customer service assistant. Draft a polite, helpful email reply based on the email details and classification provided.\n\nGuidelines:\n- Keep replies concise (2-3 paragraphs max)\n- Be empathetic and professional\n- For support: acknowledge the issue and indicate next steps\n- For sales: express enthusiasm and offer to schedule a call\n- For billing: reassure and indicate when they'll hear back\n- For spam: return \"NO_REPLY\"\n- End with a professional signature placeholder\n\nReturn ONLY the email body text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -144
      ],
      "id": "4a4506cb-9c56-41a0-b74d-17c62e4d4b84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16,
        48
      ],
      "id": "8d22e41b-ee55-40ea-b36b-492dfdfe2501",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "[CONFIGURE_YOUR_CREDENTIAL]",
          "name": "Your credential name"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=🚨 Triage Alert: {{ JSON.parse($('AI Agent1').item.json.output).category }} - {{ JSON.parse($('AI Agent1').item.json.output).priority }}\n",
        "emailType": "text",
        "message": "=📧 New Email Classified\n\nFrom: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\n\nCategory: {{ JSON.parse($('AI Agent1').item.json.output).category }}\nPriority: {{ JSON.parse($('AI Agent1').item.json.output).priority }}\n\nSummary: {{ JSON.parse($('AI Agent1').item.json.output).summary }}\n\n---\n💬 Suggested Reply:\n{{ $('AI Agent').item.json.message.content }}\n\n---\nCheck your inbox to review and send!\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        432,
        -16
      ],
      "id": "2ac78837-628a-444c-9622-0d02125ce538",
      "name": "Send a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "[CONFIGURE_YOUR_CREDENTIAL]",
          "name": "Your credential name"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -352,
        48
      ],
      "id": "f8e727d0-e403-4cb3-8dad-dbb81a0fe501",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "[CONFIGURE_YOUR_CREDENTIAL]",
          "name": "Your credential name"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From: {{ $json.From }}\nSubject: {{ $json.Subject }}\nBody: {{ $json.snippet }}\n",
        "options": {
          "systemMessage": "You are an email classification assistant. Analyze the email and return ONLY valid JSON with no extra text or markdown.\n\nCategories:\n- support: technical issues, product questions\n- sales: pricing, demos, purchases\n- billing: payments, invoices, subscriptions\n- spam: promotional, unsolicited\n- other: everything else\n\nPriority:\n- urgent: \"urgent\", \"asap\", \"immediately\", \"down\", \"broken\", \"critical\", angry tone\n- normal: all others\n\nReturn exact JSON format:\n{\"category\": \"spam\", \"priority\": \"normal\", \"summary\": \"one sentence\", \"reasoning\": \"why\"}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -352,
        -144
      ],
      "id": "544cf509-18da-4b74-9031-57e17068b557",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "[REDACTED]",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[REDACTED]"
  },
  "id": "[REDACTED]",
  "tags": []
}